body {
  background: #f7f7f7
}

section {
  padding: 50px;
  margin: 50px auto;
  width: 50vw;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  font-family: Helvetica;
}

section > div {
  height: 60px;
}

section > :nth-child(2) {
  height: 30px;
}

.normal {
  height: 50px;
}
